body {
  margin: 0;
  font-family: 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ea3d3d;
  color: #fff;
  font-weight: 300;
}

.padB80 { 
  padding-bottom: 80px;
}

.textBox {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  line-height: 50px;

  background-image: url(./assets/imgs/square.png);
  background-repeat: no-repeat;
  min-height: 380px;
  background-position: right;
  background-size: 320px;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 700px;
  margin: auto;
}
.textBox span {
  padding: 10px;
  background-color: #ea3d3d;
  margin: 10px;
}

.MuiFormControl-root {
  width: 100%;
  margin-bottom: 10px !important;
}
.MuiFormLabel-root {
  font-size: 0.8rem !important;
}
.MuiButton-root {
  border-radius: 0px !important;
}
.MuiButton-outlined {
  border: 2px solid #e73d3d !important;
  padding: 5px 30px !important;
}
.MuiInput-underline:before {
  border-bottom: 2px solid #e73d3d !important;
}

.degrade {
  background: linear-gradient(90deg, rgba(234,61,61,1) 54%, rgba(52,53,56,1) 54%);
  min-height: 100vh;
}

.centerPage {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .textBox {
    font-size: 30px;
  }
  .degrade {
    background: linear-gradient(180deg, rgba(234,61,61,1) 80%, rgba(52,53,56,1) 80%);
    min-height: 100vh;
  }
}
@media (max-width: 450px) {
  .textBox {
    background-image:none;
    border: 6px solid #ee6464
  }
  .textBox span {
    background-color: transparent;
  }
}


/* #ea3d3d
#e73d3d
#f6f6f6
#343538 */